body{
    background-color: bisque;
}
th,td{
    border: 1px solid black;
    background-color:rgb(157, 179, 233);
    border-radius: 5px;
    color: black;
}
table{
    width: 50%;
margin-left: auto;
margin-right: auto;
border: 1px solid black;
background-color:rgb(44, 81, 174);
border-radius: 5px;
color: black;
}
h1,h2{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    border: 5px dotted darkblue;
    border-radius: 5px;
}
p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: medium;
}
input{
    border: 1px solid black;
    background-color:white;
    border-radius: 5px;
    width: max-content;
}
img{
    border: 1px solid black;
    border-radius: 5px;
    margin:10px auto;
    display:block;
    width: 30%;
    height: 30%;
}